{% extends "base.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<div class="d-flex flex-column px-5 px-sm-3 align-items-center text-justify">
    FUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGSFUCK FUCK FUCKFUCKFUCKFUDJFHSDJKFGS
</div>
{% endblock %}