body {
  background-color: #343a40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.footer {
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: auto;
}

#pfp{
    border-radius: 50%;
}

#mainbox{
    max-height: 450px;
    border-radius: 10px;
    background-color: #2c3136;
    padding: 1.7rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
}
#cardmain{
  margin: 1rem;
  max-height: 450px;
  border-radius: 10px;
  background-color: #32363d;
  padding: 1.7rem;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  b{
    margin-top: auto;
  }
}

#techbox{
    border-radius: 10px;
    background-color: #2c3136;
    padding: 1.7rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
}
#edubox{
  background-color: #22262b;
  padding: 1.7rem;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
}

#logo{
    margin: 2rem;
}

.temp-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #1c1f22;
  border: 1px solid #1b1d20;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 5px;
  z-index: 9999;
  display: none; /* Initially hidden */
}

/* responsividade do video */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* responsividade do video */

.text-main{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-tech {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

th, td {
  padding: 8px !important;
  text-align: left !important;
  text-align: center !important;
  border: none !important;
}

tr {
  border: none !important;
}

.main-paragraph{
  font-size: 1.2rem;
  text-justify: auto;
  overflow-y: auto;

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px; /* Adjust padding as needed */
    text-align: left;
    border-right: 1px solid #ddd;
  }
  tr {
    border: 1px solid #ddd;
  }
}

.custom-mt-6 {
    margin-top: 6rem;
}

.custom-hr {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    border: none;
}
.custom-hr-card {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border: none;
}

/* Acordeão dos Projetos */
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
#accordion .panel{
  border: none;
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 10px;
  background: transparent;
}
#accordion .panel-heading{
  padding: 0;
  border: none;
  border-radius: 5px;
  background: transparent;
  position: relative;
}
#accordion .panel-title a{
  text-align: center;
  display: block;
  padding: 20px 30px;
  margin: 0;
  background: rgba(22, 25, 27, 0.4);
  font-size: large;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  position: relative;
}
#accordion .panel-title a.collapsed{ border: none; }
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
  width: 30px;
  height: 30px;
  line-height: 27px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 30px;
  transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}
#accordion .panel-title a.collapsed:before{
  color: rgba(255,255,255,0.5);
}
#accordion .panel-body{
  padding: 20px 30px;
  background: rgba(22, 25, 27, 0.1);
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.8px;
  border-top: none;
  border-radius: 5px;
  table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }
  .one-third{
    width: 33%;
  }
  .rowline{
    border: 1px solid #dddddd;
  }
}
/* Acordeão dos Projetos */

/* Cards de Projetos */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #22262b;
	}

	.t-dark {
		color: #22262b;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
    font-family: "Montserrat", sans-serif;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}
/* Cards de Projetos */

/* Cards de contato */
/* *{transition: .5s;}

.column{
  margin-top:3rem;
  padding-left:3rem;
  &:hover{
    padding-left:0;
    .card .txt{
      margin-left:1rem;
      h1, p{
        color:rgba(255,255,255,1);
        opacity:1;
      }
    }
    a{
      color:rgba(255,255,255,1);
      &:after{
      width: 70%;
      }
    }
    i{
      opacity: 0.1;
    }
  }
}
.card{
  min-height:220px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  background-color: #22262b;
  color:rgba(0,0,0,1);
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 21px rgba(0,0,0,.27);
  .txt{
    margin-left:0.5rem;
    z-index: 1;
    h1{
      font-size:1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    p{
      font-size:0.9rem;
      font-family: 'Montserrat', sans-serif;
      text-shadow: .7px .7px black;
      letter-spacing: 0rem;
      margin-top:33px;
      opacity:0;
      color:rgba(255,255,255,1);
    }
  }
  a{
    z-index:3;
    font-size: .75rem;
    color:rgba(0,0,0,1);
    margin-left:1rem;
    position:absolute;
    bottom: 2.5rem;
    text-transform: uppercase;
    &:after {
      content:"";
      display: inline-block;
      height: 0.5em;
      width: 0;
      margin-right: -100%;
      margin-left: 10px;
      border-top: 1px solid rgba(255,255,255,1);
      transition: .5s;
    }
  }
  .ico-card{
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  i{
    position: relative;
    right: -47%;
    top:10%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color:rgba(255,255,255,1);
    z-index: 0;
   }
}

@font-face { font-family: Montserrat; src: url('../static/fonts/Montserrat-VariableFont_wght.ttf'); }
@font-face { font-family: Roboto Mono; src: url('../static/fonts/RobotoMono-VariableFont_wght.ttf'); }

@media (max-width: 991.98px) {
    .img-small {
        max-width: 12rem;
    }
} */
/* Cards de contato */

@media screen and (max-width: 575.98px) {
  #accordion .panel-body{
    table{
      td, th{
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  /* #accordion .panel-body{
    table{
      .rowline{
        border: 1px solid #dddddd;
      }
    }
  } */
  #introduction{
    width: auto;
  }
}